body {
    margin: 0;
    padding: 0;
    background: #fff;
}

section.elements.notModified {
    display: none;
}

section.elements div.element.notModified {
    display: none;
}

section.elements table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 0 1em;
    border-bottom: solid 1px rgba( 0, 0, 0, 0.12 );
}

section.elements th, section.elements td {
    border-top: solid 1px rgba( 0, 0, 0, 0.12 );
    padding: 1em;
    text-align: left;
    word-break: break-all;
}

section.elements tbody td {
    width: 40%;
    vertical-align: top;
}

section.elements tr.modified {
    background: #ffffcc;
}

section.elements tr.complex th, section.elements tr.complex td {
    border-top: solid 1px rgba(0, 0, 0, 0.05);
}

section.elements tr.complex th {
    padding-left: 3em;
    font-weight: normal;
}

section.elements tr.complex th[colspan="3"] {
    border-top: solid 1px rgba( 0, 0, 0, 0.12 );
    padding-left: 1em;
    font-weight: bold;
}

