header {
  @include paper();
  background: getColor( bg-frame );
  padding: getSpace( unit ) getSpace( unit ) ( getSpace( unit ) - 1px );
  border-bottom: border-nav();

  @include clearFix();

  h1 {
    float: left;
    margin: 0;
    @include fs( 18px );
    color: getColor( primary );
  }

  div.containerSwitcher {
    float: right;
    a {
      @include fs( 14px );
      color: getColor( primary );
      text-decoration: none;
      &:hover {
        text-decoration: line-through;
      }
    }
  }
}

ul.tools {
  list-style: none;
  margin: 0;
  padding: getSpace( half ) getSpace( unit );
  background: getColor( bg-frame );
  @include paper();
  @include clearFix();

  li {
    float: left;
    padding: 0 getSpace( half );
    border-left: border-nav();

    &:first-child {
      padding-left: 0;
      border-left: none;
    }

    color: getColor( text-default-1 );
    line-height: $line-height-default;

    select {
      appearance: none;
      border-radius: 0;
      border: border-content();
      padding: 0 0.5em;
    }
  }
}
