html {
  font-size: $font-size-system-default;
}

body {
  font-family: $font-family-default;
  @include fs( $font-size-default );
  line-height: $line-height-default;
  color: getColor( text-default );
  background: getColor( bg-canvas );
}
