div.diff {
  h2 {
    //color: getColor( primary+1 );
    margin-top: getSpace( unit ) * 3;
  }
  main > section:first-child h2 {
    margin-top: 0;
  }
  section section {
    @include paper();
    background: getColor( bg-frame );

    padding: getSpace( unit );

    h3 {
      a {
        display: inline-block;
        border-radius: 16px;
        height: 32px;
        width: 32px;
        line-height: 32px;
        text-align: center;
        vertical-align: 2px;
        @include fs( 16px );
        background: getColor( accent );
        color: getColor( text-inverse );
        text-decoration: none;
      }
    }
  }

  section.notModified {
    display: none;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 0 getSpace( unit ) * 2;
    border-bottom: border-content();
  }
  th, td {
    border-top: border-content();
    padding: ( getSpace( half ) - 1px ) getSpace( half ) getSpace( half );
    text-align: left;
    word-break: break-all;
    color: getColor( text-1 );
  }
  tbody td {
    width: 40%;
    vertical-align: top;
  }
  tr.modified {
    th, td {
      background: getColor( accent-2 );
      color: getColor( text );
    }
  }
  tr.complex {
    th, td {
      border-top: solid 1px getColor( border-content-1 );
    }
    th {
      padding-left: getSpace( unit );
      font-weight: normal;
    }
    th[colspan="3"] {
      border-top: border-content();
      padding-left: getSpace( half );
      font-weight: bold;
    }
  }
}
