body {
    margin: 0;
    padding: 0;
    background: #fff;
}

section.elements {
    &.notModified {
        display: none;
    }
    div.element.notModified {
        display: none;
    }
    table {
        border-collapse: collapse;
        width: 100%;
        margin: 0 0 1em;
        border-bottom: solid 1px rgba( 0, 0, 0, 0.12 );
    }
    th, td {
        border-top: solid 1px rgba( 0, 0, 0, 0.12 );
        padding: 1em;
        text-align: left;
        word-break: break-all;
    }
    tbody td {
        width: 40%;
        vertical-align: top;
    }
    tr.modified {
        background: #ffffcc;
    }
    tr.complex {
        th, td {
            border-top: solid 1px rgba(0, 0, 0, 0.05);
        }
        th {
            padding-left: 3em;
            font-weight: normal;
        }
        th[colspan="3"] {
            border-top: solid 1px rgba( 0, 0, 0, 0.12 );
            padding-left: 1em;
            font-weight: bold;
        }
    }
}

