$font-family-default: "Roboto", Arial, sans-serif;

$font-size-system-default: 16px;
$font-size-default: 14px;

$line-height-default: $font-size-default * 1.5;

@mixin fs( $size, $auto-line-height: false ){
  font-size: ( $size );
  font-size: ( $size / $font-size-system-default ) + rem;

  @if $auto-line-height == true {
    line-height: $line-height-default * ceil( $size / $line-height-default );
  }
}
