$font-family-default: "Roboto", Arial, sans-serif;

$font-size-default: 16px;

$line-height-default: $font-size-default * 1.5;

@mixin fs( $size ){
  font-size: ( $size );
  font-size: ( $size / $font-size-default ) + rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
h2, h3 {
  font-size: 24px;
  line-height: $line-height-default * 2;
}